body{
    /* background-image: ur; */
    /* background-color: rgb(22, 176, 124); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
td {
    vertical-align: top;
    text-align: left;
    margin: 5px;
}
/* table{
    background-color: aliceblue;
} */
label{
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    /* color: blueviolet; */
    
}
input{
    padding: 5px;
    margin: 5px;
}
legend{
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: blue;
}
div{
    padding-right: 10px;
}
table{
    margin-left: 20%;
    padding: 5px;
    margin: 3px;
}
tr{
    margin: 5px;
    padding: 5px;
}
body{
    background-image: url('cloud.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}
fieldset{
    /* background-image: url(''); */
    margin: 0px 150px;
    background-color: white;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
}